@model Penkoff_ASP.NET_Core_.Models.AccountViewModel;

<body>
    <div class="currency_picker">
        <div id="rectangle"></div>
        <a class="switcher" asp-action="setrubleaccount" asp-controller="home">Ruble currency</a>
        <a class="switcher" asp-action="setdollaraccount" asp-controller="home">Dollar currency</a>
        <a class="switcher" asp-action="seteuroaccount" asp-controller="home">Euro currency</a>
        
    </div>
    <div class="balance">
        <h5>@Model.currentBalance</h5>
        <hr />
    </div>
    
</body>

<style>
body {
    background-color: #FBFBFB;
}

.currency_picker {
    position: absolute;
    width: 160px;
    height: 170px;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 20px;
    top: 20%;
}

hr {
    position: absolute;
    width: 807px;
    height: 0px;
    left: 400px;
    top: 313.97px;
    background-color: #000000;

border: 0.5px solid #000000;
}

h5 {
position: absolute;
width: 807px;
height: 72px;
left: 400px;
top: 156px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 72px;
/* identical to box height */

text-align: center;

color: #000000;
}
.switcher {
    display: inline-block;
    vertical-align: top;
    align-self: center;
    margin: 10px 0px;
    color: #7D7D7D;
    text-decoration: none;
    font-size: 22px;
    transition: color .2s linear;
}
.switcher:hover {
    color: black;
}
</style>
