@model Penkoff.Storage.Entities.User;

<body>
    <a class="h1" asp-action="Index" asp-controller="home">PENKOFF</a>

    <div class="loginbox">
        <div id="rectangle"></div>
        <form asp-action="login" asp-controller="Home">
            <h2>Sign in</h2>

            <p>
                <input required type="text" placeholder="Login:" asp-for="Login" />
            </p>

            <p>
                <input required type="text" placeholder="Password:" asp-for="Password" />
            </p>

            <p>
                <input type="submit" value="Log in" class="submit_button" />
            </p>

            <h3>Don't have an account?</h3>
            <a class="nav_link" asp-action="SignUpPage" asp-controller="SignUp">Sign up</a>
        </form>
    </div>

    <div class="tmp">
    <h4>©2022 Penkoff, Moscow, Akademika Scriabin Street 25/1 building 4</h4>
    </div>
    
    <style>
.h1 {
    position: absolute;
    width: 119px;
    height: 50px;
    left: 675px;
    top: 100px;
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #176FFA;
}

h2 {
    position: relative;
    left: 0%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 43px;
    color: #000000;
}



h3 {
    position: absolute;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    top: 320px;
    left: 15%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.loginbox {
    width: 400px;
    height: 300px;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.loginbox input[type="text"],
input[type="password"] {
    position: relative;
    left: 0%;
    width: 90%;
    margin-bottom: 20px;
    background: transparent;
    outline: none;
    height: 40px;
    color: #3F3F3F;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 12px;
}

.submit_button {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 77%;
    background-color: #176FFA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    vertical-align: central;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF Pro Display'; 
    font-size: 16px;
    border-radius: 10rem;
}

.submit_button:hover {
    background-color: #16FA9C; 
    color: black;
    transition: color .5s linear;
}

/* optional reset for presentation */
* {
    font-family: 'SF Pro Display';
    text-decoration: none;
    font-size: 16px;
}

.container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

span {
    display: block;
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #777;
}

/* Sign up reference*/
.nav_link {
    position: absolute;
    left: 67%;
    top: 323px;
    /*display: inline-block; */
    /*vertical-align: top; */
    color: #828892;
    text-decoration: none;
    font-size: 20px;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #16FAEA;
}

.tmp {
    position: absolute;
    top: 92%;
    left: 30%;
    display: inline;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: normal;
    width: 600px;
    color: #9B9B9B;
}


    </style>

</body>
