<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/authorization.css">
    <title>Authorization</title>
</head>
<body>
    <a class="h1" asp-action="Index" asp-controller="home">Penkoff</a>
    <div class="loginbox">
        <div id="rectangle"></div>
        <form>
            <h2>Sign in</h2>
            <input type="text" name="" placeholder="login:">
            <input type="password" name="" placeholder="password:">
            <a href="#" class="submit_button">Log in</a>
            <h3>Don't have an account?</h3>
            <a class="nav_link" asp-action="SignUpPage" asp-controller="SignUp">Sign up</a>
        </form>
    </div>
    <div class="tmp">
        <h4>©2022 Penkoff, Moscow, Akademika Scriabin Street 25/1 building 4</h4>
    </div>
</body>
