@model Penkoff_ASP.NET_Core_.Models.LoginViewModel;
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/authorization.css">
</head>
<body>
    <h5>@Model.result</h5>

    <h1><a class="h1" asp-action="Index" asp-controller="home">PENKOFF</a></h1>

    <div class="loginbox">
        <div id="rectangle"></div>
        <form asp-action="login" asp-controller="Home">
            <h2>Sign in</h2>

            <p>
                <input required type="text" placeholder="Login:" asp-for="user.Login"/>
            </p>

            <p>
                <input required type="password" placeholder="Password:" asp-for="user.Password" />
            </p>

            <p>
                <input type="submit" value="Log in" class="submit_button" />
            </p>

            <h3>Don't have an account?</h3>
            <a class="nav_link" asp-action="SignUpPage" asp-controller="SignUp">Sign up</a>
        </form>
    </div>

    <div class="tmp">
    <h4>©2022 Penkoff, Moscow, Akademika Scriabin Street 25/1 building 4</h4>
    </div>
    
</body>
