@model Penkoff_ASP.NET_Core_.Models.ServicesViewModel;

<body>
    <a class="send-money" asp-action="sendmoney" asp-controller="home">
        <img class="send-money-icon" src="~/images/send-money.png" />
    </a>

    <a class="transaction-history" asp-action="Operations" asp-controller="home">
        <img class="transaction-history-icon" src="~/images/operationsHistory.png" />
    </a>

</body>

<style>
body {
    background-color: #FBFBFB;
}

.send-money-icon {
    position: absolute;
    top: 10%;
    width: 51px;
    height: 51px;
}

.transaction-history-icon {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 51px;
    height: 51px;
}

h2 {
    position: absolute;
    top: 12%;
    left: 11%;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

select {
    position:absolute;
    left: 30%;
    top: 16.3%;
}
</style>