@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/667417c7ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Stocks.css">
    <title>Website Under Construction HTML Page</title>
</head>

<body >
    <div class="background"></div>
    <div class="container">
        <div class="top">
            <hr>
            <p style="font-family: 'Pragmatica'; font-weight:800; font-size: 34px">    <a class="header_logo" style="text-decoration:none; color: #176FFA" asp-action="Index" asp-controller="Home">PENKOFF</a>
</p>
            <hr>
        </div>
        <h1>UNDER CONSTRUCTION</h1>
        <h3>PROGRESS</h3>
        <div class="progress-wrapper">
            <div class="progress"><span>0%</span></div>
        </div>
        <div class="social-icons">
            <a href="#your-fb-page"><i class="fab fa-facebook"></i></a>
            <a href="#your-twitter-profile"><i class="fab fa-twitter"></i></a>
            <a href="#your-linkedin-page"><i class="fab fa-linkedin-in"></i></a>
            <a href="#your-instagram-page"><i class="fab fa-instagram"></i></a>
            <a href="#your-youtube-page"><i class="fab fa-youtube"></i></a>
            <a href="#rss"><i class="fas fa-rss"></i></a>

        </div>
    </div>
   
</body>

<script>
    const progress = document.querySelector('.progress')
        const percentage = document.querySelector('.progress span')

        let per = 0;
        function progressLoad(){
            if(per>=80){
                progress.style.width = `80%`;
                percentage.innerHTML = "80%"

            }else{
                progress.style.width = `${per}%`;
                percentage.innerHTML = `${per}%`;

            }
            per++

        }

        setInterval(progressLoad,90)
</script>