@model Penkoff_ASP.NET_Core_.Models.OperationsViewModel;

<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="~/css/Operations.css">
</head>

@{
    string SetCurrencyForPrint(string str)
    {
        if (str.Length < 4) return str;

        for (int i = str.Length - 3; i > 0; i -= 3)
        {
            str = str.Insert(i, " ");
        }

        return str;
    }
}


<body>
    <h1>Operations history:</h1>

    @foreach (var item in Model.Operations.Where(u => u.UserId == Model.User.Id))
{
    <div class="transaction">
        <div id="rectangle"></div>
            @if(item.Type=="Transfer")
            {
                <h2>Transfer</h2>
                switch(item.Currency)
                {
                    case "RUB":
                        <h3>₽</h3>
                        <h4>-@SetCurrencyForPrint(item.Amount.ToString()) ₽</h4>
                        break;

                    case "USD":
                        <h3>$</h3>
                        <h4>-@SetCurrencyForPrint(item.Amount.ToString()) $</h4>
                        break;

                        case "EUR":
                        <h3>€</h3>
                        <h4>-@SetCurrencyForPrint(item.Amount.ToString()) €</h4>
                        break;
                }
            }

            @if(item.Type=="Incoming")
            {
                <h2>Incoming</h2>
                switch(item.Currency)
                {
                    case "RUB":
                        <h3>₽</h3>
                        <h5>+@SetCurrencyForPrint(item.Amount.ToString()) ₽</h5>
                        break;

                    case "USD":
                        <h3>$</h3>
                        <h5>+@SetCurrencyForPrint(item.Amount.ToString()) $</h5>
                        break;

                        case "EUR":
                        <h3>€</h3>
                        <h5>+@SetCurrencyForPrint(item.Amount.ToString()) €</h5>
                        break;
                }
            }
        </div>
}

</body>
