@model Penkoff_ASP.NET_Core_.Models.ServicesViewModel;

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Services.css">
</head>

<body>
    <a class="send-money" asp-action="SendMoney" asp-controller="Services">
        <img class="send-money-icon" src="~/images/send-money.png" />
    </a>

    <a class="transaction-history" asp-action="Operations" asp-controller="Services">
        <img class="transaction-history-icon" src="~/images/operationsHistory.png" />
    </a>

</body>