@model Penkoff_ASP.NET_Core_.Models.AccountViewModel;

<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="~/css/Account.css">
</head>

<body>
    <div class="currency_picker">
        <div id="rectangle"></div>
        <a class="switcher" asp-action="SetRubleAccount" asp-controller="Account">Ruble currency</a>
        <a class="switcher" asp-action="SetDollarAccount" asp-controller="Account">Dollar currency</a>
        <a class="switcher" asp-action="SetEuroAccount" asp-controller="Account">Euro currency</a>
        
    </div>
    <div class="balance">
        <h5>@Model.currentBalance</h5>
        <hr />
    </div>

    <input type="button" class="logout-button" value="Log out" onclick="location.href='@Url.Action("LogOut", "Account")'" />

    <h4>Our partners:</h4>
    
    <div class="tmp">
    <h3>©2022 Penkoff, Moscow, Akademika Scriabin Street 25/1 building 4</h3>
    </div>
</body>
