<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/DefaultLayout.css">
</head>

<header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">PENKOFF</div>

                <nav>
                    <a class="nav_link" asp-action="Services" asp-controller="Services">Services</a>
                    <a class="nav_link" asp-action="MyCards" asp-controller="MyCards">My cards</a>
                    <a class="nav_link" href="#">Stocks</a>
                    <a class="nav_link" asp-action="Account" asp-controller="Login">My account</a>
                </nav>
                
            </div>
        </div>
    </header>

<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
