<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/css/style.css">
        <title>Penkoff</title>
    </head>

    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">Penkoff</div>

                <nav>
                    <a class="nav_link" href="#">Services</a>
                    <a class="nav_link" href="#">My cards</a>
                    <a class="nav_link" href="#">Stocks</a>
                    <a class="nav_link" href="#">My account</a>
                </nav>

            </div>
        </div>
    </header>

    <body>
        <div class="intro">
            <div class="container">
                
            </div>    
        </div>

        <h1>Take a look at our new debit card</h1>
        
        <div id="rectangle"></div>
        <div id="rectangle1"></div>
    </body>
</html>