<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/css/style.css">
        <title>Penkoff</title>
    </head>

    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">Penkoff</div>

                <nav>
                    <a class="nav_link" href="#">Services</a>
                    <a class="nav_link" href="#">My cards</a>
                    <a class="nav_link" href="#">Stocks</a>
                    <a class="nav_link" href="#">My account</a>
                </nav>

            </div>
        </div>
    </header>

    <body>
        <!--<div class="verticalLine"></div> -->
        <div class="intro">
            <div class="container">
                
            </div>    
        </div>

        <h1>Take a look at our new debit card</h1>
        
        <div id="rectangle"></div>
        <div id="rectangle1"></div>
        <h2>PENKOFF</h2>
        <h3>♂Van Special Edition♂</h3>
        <!--<h4>10% cashback at the gym</h4>
        <h5>Leatherman status</h5> -->
        <div class="pouring_h4">10% cashback at the gym</div>
        <div class="pouring_h5">Leatherman status</div>
        <img class="male_icon1" width="300" height="200" src="~/images/Iconmale.png">
        <img class="chip_icon" src="~/images/Chip.png">
        <button class="glow-on-hover" type="button">Perfil your deep dark fantasies</button>
    </body>
</html>