body {
    background-color: #FBFBFB;
}

.currency_picker {
    position: absolute;
    width: 160px;
    height: 170px;
    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 20px;
    top: 20%;
}

hr {
    position: absolute;
    width: 807px;
    height: 0px;
    left: 400px;
    top: 313.97px;
    background-color: #000000;
    border: 0.5px solid #000000;
}

h4 {
    position: absolute;
    font-weight: 600;
    font-size: 32px;
    left: 400px;
    top: 300px;
    color: #000000;
}

h5 {
    position: absolute;
    width: 807px;
    height: 72px;
    left: 400px;
    top: 156px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    /* identical to box height */

    text-align: center;
    color: #000000;
}

.switcher {
    display: inline-block;
    vertical-align: top;
    align-self: center;
    margin: 10px 0px;
    color: #7D7D7D;
    text-decoration: none;
    font-size: 22px;
    transition: color .2s linear;
}

    .switcher:hover {
        color: black;
    }

.logout-button {
    position: absolute;
    left: 12.3%;
    top: 75%;
    background-color: #176FFA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    vertical-align: central;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF Pro Display';
    font-size: 16px;
    border-radius: 10rem;
}

    .logout-button:hover {
        background-color: #e3101b;
        color: black;
        transition: color .3s linear;
    }

.tmp {
    position: absolute;
    top: 92%;
    left: 30%;
    display: inline;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: normal;
    width: 600px;
    color: #9B9B9B;
}
