h2 {
    position: relative;
    left: 26%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 43px;
    color: #000000;
}

.signUpBox {
    width: 500px;
    height: 400px;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

    .signUpBox input[type="text"], [type="email"] {
        position: relative;
        left: 5%;
        width: 90%;
        margin-bottom: 20px;
        background: transparent;
        outline: none;
        height: 40px;
        color: #3F3F3F;
        font-size: 16px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        border-radius: 12px;
    }

.code {
}

.submit_button {
    width: 30%;
    position: absolute;
    left: 65%;
    top: 167px;
    height: 45px;
    background-color: #176FFA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF Pro Display';
    font-size: 16px;
    border-radius: 10rem;
}

    .submit_button:hover {
        background-color: #16FAEA;
        color: black;
        transition: color .5s linear;
    }

.submit_code {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 320px;
    height: 45px;
    background-color: #176FFA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'SF Pro Display';
    font-size: 16px;
    border-radius: 10rem;
}

    .submit_code:hover {
        background-color: #16FAEA;
        color: black;
        transition: color .5s linear;
    }



.tmp {
    position: absolute;
    top: 92%;
    left: 30%;
    display: inline;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: normal;
    width: 600px;
    color: #9B9B9B;
}
