body {
    background-color: #FBFBFB;
}

.send-money-icon {
    position: absolute;
    top: 10%;
    width: 51px;
    height: 51px;
}

.transaction-history-icon {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 51px;
    height: 51px;
}

h2 {
    position: absolute;
    top: 12%;
    left: 11%;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

select {
    position: absolute;
    left: 30%;
    top: 16.3%;
}
