@model Penkoff_ASP.NET_Core_.Models.SignUpViewModel;
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/SignUpStyle.css">
</head>

<body>
    <h5>@Model.result</h5>

    <a class="h1" asp-action="Index" asp-controller="home">PENKOFF</a>

    <div class="signUpBox">
        <div id="rectangle"></div>
        <form asp-action="create" asp-controller="SignUp">
            <h2>Sign up</h2>
        <p>
            <input type="text" placeholder="First name:" required asp-for="user.FirstName" />
        </p>

        <p>
            <input type="text" placeholder="Last name:" required asp-for="user.LastName" />
        </p>

        <p>
            <input type="text" placeholder="Login:" required asp-for="user.Login" />
        </p>

        <p>
            <input type="password" placeholder="Password:" required minlength="8" asp-for="user.Password" />
        </p>

        <p1>
            <input type="submit" value="Sign up" class="submit_button"/>
        </p1>
    </form>
    </div>

    <div class="tmp">
    <h4>©2022 Penkoff, Moscow, Akademika Scriabin Street 25/1 building 4</h4>
    </div>

</body>





